*{
    margin: 0;
    padding: 0;

}
logo{

    width: 50px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 200;
    letter-spacing: 0.2em;
}
.icono{
    width: 40px;
}
#prueba{
    width: 100;
}
#lista1{
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#lista2{
    
        font-family: "Sevillana", cursive;
        font-weight: 400;
        font-style: normal;
      
      
}