*{
    margin: 0;
    padding: 0;

}
@font-face {
    font-family:"howdy Lemon" ;
    src: url(/fuentes/Howdy_Lemon.ttf);
}
p{
    font-family:"howdy Lemon" ;
}
#logo{

    width: 50px;
    position: absolute;
    left: 300px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 200;
    letter-spacing: 0.2em;
}
.icono{
    width: 40px;
}
#prueba{
    width: 100;
}
#lista1{
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#lista2{
    
        font-family: "Sevillana", cursive;
        font-weight: 400;
        font-style: normal;
      
      
}
#mundo{
    position: relative;left: 300px;top: 100px; bottom: 200px;
}
#msg{
    width: 200px;
    height: 300px;
    position: fixed;
    right: 200px;
    bottom: 400px;
}
header{
    position: sticky;
    top:0;
    background-color: rgb(152, 209, 152);
}